body
{
    color:black;
    Background: white;
}
.heading
{
    width: 80%;
    font-size: 18px;
}
#camera
{
    border: 2pc dashed black;
    width: 350px;
    height: 300pxl;
}
.name_of_objects, #result_object_name , #result_object_accuracy
{
 color:black;
}
